In [95]:
import pandas as pd 
import ast

In [96]:
movies_df = pd.read_csv("/content/movies_metadata.csv").dropna()
credits_df = pd.read_csv("/content/credits.csv").dropna()
keywords_df = pd.read_csv("/content/keywords.csv").dropna()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [97]:
movies_df.head()

     adult  ... vote_count
9    False  ...     1194.0
68   False  ...      513.0
69   False  ...     1644.0
153  False  ...       28.0
178  False  ...      153.0

[5 rows x 24 columns]

In [98]:
credits_df.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [99]:
keywords_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [100]:
movies_df = movies_df.drop(columns=['adult','belongs_to_collection','homepage', 'imdb_id',
                       'overview','popularity','poster_path', 
                       'runtime','spoken_languages','status',
                       'tagline', 'vote_average','vote_count'])
movies_df.head()

       budget  ...  video
9    58000000  ...  False
68    3500000  ...  False
69   19000000  ...  False
153   2000000  ...  False
178  15000000  ...  False

[5 rows x 11 columns]

In [101]:
def resolve_jsons(df, column_name, ):
    i = 0
    for col in df[column_name]:
        new_col = []
        try:
            col = ast.literal_eval(col)
            for c in col:
                new_col.append(c["name"])
            df[column_name][i] = new_col
        except (ValueError,TypeError):
            pass
        i+=1

In [102]:
resolve_jsons(movies_df, 'genres' )
resolve_jsons(movies_df, 'production_companies')
resolve_jsons(movies_df, 'production_countries')
resolve_jsons(keywords_df, 'keywords')
resolve_jsons(credits_df,'cast')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [103]:
i = 0
for col in credits_df["crew"]:
    new_col = []
    try:
            col = ast.literal_eval(col)
            for c in col:
                if c["job"] == "Director":
                    new_col.append(c["name"])
            credits_df["crew"][i] = new_col
    except (ValueError,TypeError):
        pass
    i+=1
credits_df = credits_df.rename(columns={"crew":"director"})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [104]:
credits_df.head()

                                                cast           director     id
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    [John Lasseter]    862
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...     [Joe Johnston]   8844
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...    [Howard Deutch]  15602
3  [Whitney Houston, Angela Bassett, Loretta Devi...  [Forest Whitaker]  31357
4  [Steve Martin, Diane Keaton, Martin Short, Kim...    [Charles Shyer]  11862

In [105]:
 credits_df = credits_df.merge(keywords_df,how='right',on='id')

In [106]:
credits_df.head()

                                                cast  ...                                           keywords
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...  ...  [jealousy, toy, boy, friendship, friends, riva...
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...  ...  [board game, disappearance, based on children'...
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  ...  [fishing, best friend, duringcreditsstinger, o...
3  [Whitney Houston, Angela Bassett, Loretta Devi...  ...  [based on novel, interracial relationship, sin...
4  [Steve Martin, Diane Keaton, Martin Short, Kim...  ...  [baby, midlife crisis, confidence, aging, daug...

[5 rows x 4 columns]

In [107]:
movies_df['id']=movies_df['id'].astype(int).astype("int64")

movies_df = movies_df.merge(credits_df)

In [108]:
movies_df.head(10)

     budget  ...                                           keywords
0  58000000  ...  [cuba, falsely accused, secret identity, compu...
1   3500000  ...  [rap music, parent child relationship, rapper,...
2  19000000  ...  [dancing, brother brother relationship, sexual...
3   2000000  ...  [smoking, corner shop, cigarette, tobacco, cig...
4  15000000  ...  [based on tv series, tokusatsu, superhero team...
5     27000  ...           [salesclerk, loser, aftercreditsstinger]
6  11000000  ...  [android, galaxy, hermit, death star, lightsab...
7  35000000  ...                                   [princess, swan]
8  45000000  ...  [loss of parents, wild boar, uncle, shaman, re...
9  63000000  ...  [exotic island, dna, paleontology, tyrannosaur...

[10 rows x 14 columns]